entrypoint = "main.py"
modules = ["python-3.11", "nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["bazel", "cairo", "curl", "double-conversion", "ffmpeg-full", "freetype", "ghostscript", "giflib", "gitFull", "glibcLocales", "gobject-introspection", "grpc", "gtk3", "jsoncpp", "libjpeg_turbo", "nsync", "openssl", "pkg-config", "qhull", "snappy", "tcl", "tk", "which", "zlib", "vercel-pkg"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Cloudflare Tunnel"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "QA_test-production "
mode = "sequential"
author = 47561510

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/test-production.sh"

[[workflows.workflow]]
name = "pm2 start"
mode = "sequential"
author = 47561510

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/start.sh pm2"

[[workflows.workflow]]
name = "Cloudflare Tunnel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/tunnel-watch.sh"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "load-nvm"
mode = "sequential"
author = 47561510

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash meechain-contract-deployment/load-nvm.sh"

[objectStorage]
defaultBucketID = "replit-objstore-5a1b88eb-0ea2-4163-b743-fc3178b89e85"
